Name: Se√°n Kendall

Student Number: 20355246

# REGRESSION AND CLASSIFICATION

### Part A: Regression Analysis

#### Question 1: Polynomial Regression

In [75]:
# importing packages
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer

(a)

1.

In [76]:
df = pd.read_csv("AutoMpg.csv")
df.head(5)

,horsepower,mpg,cylinders,displacement,weight,acceleration,model year,origin,car name
0,130.0,18.0,8,307.0,3504,12.0,70,1.0,chevrolet chevelle malibu
1,165.0,15.0,8,350.0,3693,11.5,70,1.0,buick skylark 320
2,150.0,18.0,8,318.0,3436,11.0,70,1.0,plymouth satellite
3,150.0,16.0,8,304.0,3433,12.0,70,1.0,amc rebel sst
4,140.0,17.0,8,302.0,3449,10.5,70,1.0,ford torino

In [77]:
df.shape

(402, 9)

In [78]:
df.dtypes

horsepower      float64
mpg             float64
cylinders         int64
displacement    float64
weight            int64
acceleration    float64
model year        int64
origin          float64
car name         object
dtype: object

Fill in missing values:

In [79]:
print(df.isna().sum())

horsepower      16
mpg              0
cylinders        0
displacement     0
weight           0
acceleration     0
model year       0
origin          15
car name         0
dtype: int64

Only the features "horsepower" and "origin" have missing values.

Imputing missing values:

In [ ]:
print(df.isna().sum())

horsepower      16
mpg              0
cylinders        0
displacement     0
weight           0
acceleration     0
model year       0
origin          15
car name         0
dtype: int64

Removing duplicate rows:

In [81]:
print("Number of rows in df:", df.shape[0])
print("Number of columns in df:", df.shape[1])

Number of rows in df: 402
Number of columns in df: 9

In [82]:
df = df.drop_duplicates(keep=False)
print("Number of rows in df:", df.shape[0])
print("Number of columns in df:", df.shape[1])

Number of rows in df: 394
Number of columns in df: 9

It can be seen duplicated rows have been removed.